.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    color: #0f172a;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #0f172a;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

header {
    background: #0f172a;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

section {
    padding: 50px;
    text-align: center;
}

section h2 {
    color: #0f172a;
}

footer {
    background: #0f172a;
    color: white;
    padding: 15px;
    text-align: center;
}
.services {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
